<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ihrdata.demo.dao.RbacOrganizationCustomMapper">
    <resultMap id="BaseResultMap" type="com.ihrdata.demo.model.RbacOrganization">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="organization_code" jdbcType="VARCHAR" property="organizationCode"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="organization_area" jdbcType="VARCHAR" property="organizationArea"/>
        <result column="seq" jdbcType="INTEGER" property="seq"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="organization_status" jdbcType="TINYINT" property="organizationStatus"/>
    </resultMap>

    <update id="updateSeqById">
        update rbac_organization set seq = seq + 1
        where id != #{id} AND seq >= #{seq}
    </update>
</mapper>